
body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}

nav {
  margin:0px;
  padding: 10px;
  height: auto;
  width:auto;
  background-color: #b7f0f1;
  box-shadow: 0px 4px 4px #00000040;
}

ul {
  margin-top:-92px;
  margin-right: 40px;
  list-style: none;
  display: flex; 
  text-align: center;
  float: right;

}

li {
  margin:auto;
  display: flex;
  padding:40px;
  margin-top: 0px;
  font-family: "PT Serif-Regular";
  font-weight: 400;
  color: #262626;
  font-size: 25px;
  text-align: left;
}


.logo {
    display: flex;
    margin-top: 0px;
    margin-left: 40px;
    width: auto;
    max-height: 80px;
 }

.ellipse {
    display: flex;
    width: 23px;
    height: 22px;
    border-radius: 19px/19px;
    border: 2px solid;
    border-color: #000000;
}
  
.line {
    display: flex;
    width: 8px;
    height: 8px;
    margin-top: 20px;
    margin-left: 20px;
}

.donateButton {
    margin-bottom: 5%;
    /*padding: 8px;*/
    background-color: #edb2a9;
    border-radius: 54px;
  
}
  

h1{
  text-align: center;
  font-family: "PT Serif-Bold";
  font-size: 35px;
  color: #326e7b;
}


h2 {
  font-family: "PT Serif-Bold";
  font-weight: 700;
  color: #326e7b;
  font-size: 25px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

h3 {
  font-family: "PT Serif-Bold";
  font-weight: 700;
  color: #326e7b;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  display:inline-block;
}

p {
  font-family: "PT Sans";
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 400;
  color: #262626;
  font-size: 20px;
}


.p2 {
  padding-right: 150px;
  padding-left: 150px;
  color: #262626;
  text-align: center;
}

.bulletPoints {
  text-align: center;
  color: #262626;
}

.p3 {
  display: inline-block;
  text-align: left;
  color: #262626;
}

.cannoliCard {
  margin: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "cannoliPic" "cannoli";
  background-color: #e0f1f2;
  border-radius: 50px;
  border: 3px solid;
  border-color: #edb2a9;
  box-shadow: 0px 4px 4px #00000040;
}

.cannoliTextLeft {
  text-align: left;
}

.cannoli {
  font-family: "PT Sans";
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  color: #262626;
  font-size: 20px;
  text-align: left;
 
}


.cannoliPic {
  display:flex;
  max-width: 100%;
  height: auto;
  margin-top: -12%;
  border-radius: 50px;
  border: 3px solid;
  border-color: #edb2a9;
}

.ourMissionTextNormal {
  color: #262626;
  
}

.ourMissionTextBold {
  font-family: "PT Sans";
  font-weight: 700;
  color: #262626;
}
.aidParagraphNormal {
  font-family: "PT Sans";
  font-weight: 400;
  color: #262626;
  font-size: 20px;
  letter-spacing: 0;
}

.aidParagraphBold {
  font-family: "PT Sans";
  font-weight: 700;
  color: #262626;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalText {
  padding-left: 50px;
  padding-right: 50px;
  font-family: "PT Sans";

  font-weight: 400;
  color: #262626;
  font-size: 20px;
}
.modalContent {
  background-color: #fefefe;
  margin: 20% auto; /* 20% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  justify-content: center;
  align-content: center;
}

#archieButton {
  font-family: "PT Sans";
  padding: 10px;
  font-weight: bolder;
  color: #000000;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  background-color: #56bcbe;
  border-radius: 53px;
  border-style: none;
  cursor: pointer;
}

.archiePic {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttonParent {
  text-align: center;
}

.button {
  font-family: "PT Sans";
  padding: 15px;
  font-weight: bolder;
  color: #000000;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  background-color: #56bcbe;
  border-radius: 53px;

}


.boardMembersGrid {
  display: grid;
  
  margin-bottom: 50px;
  grid-template-rows: 22% 20% 25% 24% 20%;
  
  justify-content: center;
  align-content: space-evenly;
  grid-template-areas:
  "nancy"
  "syeira"
  "suzanne"
  "marley"
  "avery";
}

  .textBold {
    position:absolute;
    top: 24px;
    left: 150px;
    font-family: "PT Serif-Bold";
    font-weight: 700;
    color: #262626;
    font-size: 30px;
    text-align: center;
  }
  
  .textCaps {
    position: absolute;

    top: 52px;
    left: 185px;
    font-family: "PT Sans";
    font-weight: 500;
    color: #262626;
    font-size: 18px;
    text-align: center;
  }

  .footer {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "logo2" "ul";
    margin:0px;
    padding-top: 100px;
    height: auto;
    width:auto;
    background-color: #b7f0f1;
  
  }

  .logo2 {
    display: inline-flex;
    margin-top: -10%;
    margin-left: 10%;
    width: auto;
    max-height: 150px;
  }

  .mobile {
    display: none;
  }
  
  .logoMobile {
    display: flex;
    margin-top: 0px;
    
    margin-left: 40px;
    width: auto;
    max-height: 80px;
  }

  .hamburgerMenu {
    display: flex;
    margin-right: -30px;
    
  }



  @media screen and (max-width: 1280px){
    nav {
      display: none;
    }
    .mobile {
      display: block;
      margin:0px;
    padding: 10px;
    height: auto;
    width:auto;
    background-color: #b7f0f1;
    box-shadow: 0px 4px 4px #00000040;
    }
    ul {
      margin-top:-92px;
      margin-right: 40px;
      list-style: none;
      display: flex; 
      text-align: center;
      float: right;
    }
    
    li {
      margin:auto;
      display: flex;
      padding:40px;
      margin-top: 0px;
      font-family: "PT Serif-Regular";
      font-weight: 400;
      color: #262626;
      font-size: 25px;
      text-align: left;
    }

  }
  
.cannoliCardMobile {
  display: none;
}

  @media screen and (max-width: 1280px){

    .cannoliCard {
      display:none;
    }


    .cannoliCardMobile {
      margin: 100px;
      padding: 20px;
      display: grid;
      grid-template-rows: 0.5fr 10% 60%;
      grid-template-areas: "cannoliPicMobile" 
      "cannoliTextLeftMobile" "cannoliMobile";
      background-color: #e0f1f2;
      border-radius: 50px;
      border: 3px solid;
      border-color: #edb2a9;
      box-shadow: 0px 4px 4px #00000040;

    }
    


    .cannoliTextLeftMobile {
      text-align: center;
    }
    
    .cannoliMobile {
      font-family: "PT Sans";
      padding-left: 50px;
      padding-right: 50px;
      font-weight: 400;
      color: #262626;
      font-size: 20px;
      text-align: left;
      
    }
    
    .picCenter {
      display: flex;
      width: 100%;
      height: 100%;
      align-content: center;
      justify-content: center;
    }
    .cannoliPicMobile {
      display: inline-block;
      align-content: center;
      height: 100%;
      width: 50%;
      min-width: 20%;
      height: auto; 
      border-radius: 50px;
      border: 3px solid;
      border-color: #edb2a9;
    }


  }